/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    
	color:#333;
}
body {
	color:#9c9c9c
}
a:hover { text-decoration: none }

section.section-padding {
	padding:80px 0;
}
.gray-bg {
	background-color:#fafafa;
}

.service-bg-1 {background-image:url(../img/service-bg-1.jpg)}
.service-bg-2 {background-image:url(../img/service-bg-2.jpg)}
.service-bg-3 {background-image:url(../img/service-bg-3.jpg)}
.service-bg-4 {background-image:url(../img/service-bg-4.jpg)}
.service-bg {
	height:225px;
	background-color:#ddd;
	background-position:center;
	background-size:cover;
}
.section-title h2 {
	margin-bottom:50px;
	font-size:25px;
	font-weight: 700;
}
.single-service-item {
	background:#fff;
	transition:.2s;
}
.single-service-item:hover{
	box-shadow:0 0px 20px #eaf7ef;
}
.service-content {
	padding:20px;
}

.service-content h3 {
	font-weight: 400;
}
.service-more-btn {
	display:inline-block;
	color:#39ca74;
	border-radius:50px;
	padding:10px 0;
	margin-top:5px;
	font-weight:700;
	transition:.3s;
}
.service-more-btn i.fa {
	padding-left:10px;
}
.service-more-btn:hover{
	background:#39ca74;
	color:#fff;
	padding:10px 20px;
}


















