/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight:;color:#333;
}
body {font-family: 'Open Sans', sans-serif;color:#787978

}
a:hover { text-decoration: none }

section.section-padding {padding:80px 0;
}
.section-title {text-align:center;
margin-bottom:50px;
}
.section-title h2 span{
	color:#2fa55e;
}
.single-pricing-box {
	border:1px solid #ddd;
	padding:20px;
	text-align:center;
	transition:.2s;
}
.single-pricing-box:hover{
	border-color:#2fa55e;
	box-shadow:0 0 50px #f1f1f1
}
.single-pricing-box h3 {
	text-transform:uppercase;
}
.pricing-icon {
	font-size:60px;
	margin-bottom:20px;
}
.pricing-icon img {
	max-width:88px;
	transition:.2s;
}
.pricing-lists {
	text-align:left;
	margin-bottom:23px;
}
.pricing-lists ul {
	margin:0;
	padding:0;
	list-style:none;
	padding-left:17px;
	line-height:26px;
}
.pricing-lists ul li:before {
	font-family:fontawesome;
	content:"\f00c";
	color:#2fa55e;
	padding-right:10px;
}
.pricing-lists ul li.cross:before {
	content:"\f00d";
	color:#eb3036
}
.single-pricing-box h3.pricing-count {
	text-transform:none;
}
.single-pricing-box:hover .pricing-icon {
	color:#2fa55e;
}
.single-pricing-box:hover .pricing-icon img {
	opacity:.7;
}
a.border-btn {
	display:inline-block;
	border:1px solid #2fa55e;
	padding:10px 30px;
	border-radius:50px;
	color:#333;
	transition:.3s;
}
a.border-btn:hover {
	background:#2fa55e;
	color:#fff;
}



















