/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    
	color:#333;
	font-weight:700;
}
body {
	color:#9c9c9c
}

a:hover { text-decoration: none }

.section-padding {
	padding:80px 0;
}
.section-borders span {
	height:5px;
	background:#6aaf08;
	width:50px;
	display:inline-block;
	border-radius:2px;
}
.section-borders span.black-border {
	background:#333;
	width:30px;
	margin:0 10px;
}
.section-title h2 {
	font-size:35px;
}
.section-title {
	text-align:center;
	margin-bottom:60px;
}
.client-testimonial-carousel .owl-dots div {
	height:5px;
	background:#6aaf08;
	width:20px;
	display:inline-block;
	margin:5px;
	transition:.2s;
	border-radius:2px;
}
.client-testimonial-carousel .owl-dots div.active {
	width:30px;
	background-color:#333;
	
}
.client-testimonial-carousel .owl-dots {
	text-align:center;
	margin-top:25px;
}
.single-testimonial-item {
	box-shadow:0 0 2px #dadfd3;
	margin:2px;
	padding:20px;
	font-style:italic;
}
.single-testimonial-item {	
	position:relative;
	padding-left:80px;
}
.single-testimonial-item:before {
	font-family:fontAwesome;
	content: "\f10e";
	color:#6aaf08;
	position:absolute;
	left:20px;
	top:50%;
	font-size:20px;
	line-height:30px;
	margin-top:-15px;
	
	
}
.single-testimonial-item:after {
	position:absolute;
	left:60px;
	height:70%;
	width:1px;
	background:#dadfd3;
	content:"";
	top:15%;
}
.single-testimonial-item h3 {
	font-size:20px;
	font-style:normal;
	margin-bottom:0;
}
.single-testimonial-item h3 span {
	display:block;
	font-size:13px;
	font-weight:normal;
	margin-top:5px;
	color:#9c9c9c;
}








